.asset-placeholder {
    width: 100%;
    height: 300px;
    background: #0a0f1d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-text);
    font-family: "Major Mono Display", monospace;
    border-radius: 8px;
    border: 1px dashed rgba(37, 99, 235, 0.5);
    margin: 50px;
    padding: 1rem;
}
.projects-gallery {
    padding: 5rem 10%;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 5rem;
}

.project-card-v2 {
    display: flex;
    background: rgba(30, 41, 59, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.4s;
}

.project-card-v2:hover {
    transform: translateY(-5px);
    border-color: var(--primary-color);
}

.project-preview {
    flex: 1;
    min-height: 350px;
}

.project-info {
    flex: 1;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.category-tag {
    color: var(--primary-color);
    font-family: "Major Mono Display", monospace;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    display: block;
}

.project-info h3 {
    font-family: "Audiowide", sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.project-info p {
    color: var(--gray-text);
    margin-bottom: 2rem;
    font-size: 0.95rem;
}

.tech-used {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.tech-used span {
    background: rgba(37, 99, 235, 0.1);
    color: var(--primary-color);
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
}

.view-project {
    color: var(--light-text);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3s;
}

.view-project:hover {
    color: var(--primary-color);
    padding-left: 10px;
}

@media (max-width: 992px) {
    .project-card-v2 {
        flex-direction: column;
    }
}